.container{
    display: grid;
    grid-template-columns: repeat(2,200px 500px);
    grid-template-rows: 100px 100px;
    column-gap: 10px; /* gap between columns*/
    row-gap: 100px;
    gap: 50px;  /* gap equally*/
}
